.square{
	transform: rotateY(45deg);
	animation: rotateAnimation 1s linear infinite;
	margin-bottom:100 px;;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}


.curved-text {
	transform: rotate(-45deg);
  }
  .boxpo{
	position:relative;
	left: 16rem;
	bottom: 22rem;
	margin: 0;
	padding: 0;
	z-index: 10;
	width: 24rem;
	place-content: center;

}
@media (max-width:991px){


}